<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://meyerweb.com/eric/tools/css/reset/reset.css" />
    <link rel="stylesheet" href="~/Styles/Style.css" />
</head>
<body>

    <h1 id="logo">Don't Wine About It!</h1>

    <main>
        @RenderBody()
    </main>
</body>
</html>
